@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2'),
         url('/fonts/Inter.woff') format('woff');
    font-weight: 100 900; /* Supports variable weights */
    font-style: normal;
    font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}

  @layer utilities {
    @keyframes flash {
      0%, 100% { visibility: visible; }
      50% { visibility: hidden; }
    }
  
    .animate-flash {
      animation: flash 1s steps(1) infinite;
    }
  }
  